<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <!-- 輸出路徑 -->
    <Properties>
        <Property name="home">/logs</Property>
    </Properties>

    <Appenders>
        <!-- Console 輸出 -->
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %c - %m%n" />
        </Console>

        <!-- 主要用於個情境測試獨立紀錄log -->
        <RollingFile name="common" fileName="${home}/${sys:logFilename:-default}.log" filePattern="${home}/${sys:logFilename:-default}.%d{yyyy-MM-dd-mm}" append="true">
            <PatternLayout>
                <pattern>%d %-5p %c - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <!-- 全域性RollingFile -->
        <RollingFile name="all" fileName="${home}/RunBatch_ROOT_File.log" filePattern="${home}/RunBatch_ROOT_File.%d{yyyy-MM-dd-HH-mm}" append="true">
            <PatternLayout>
                <pattern>%d %-5p %c - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="all" />
            <AppenderRef ref="common" />
        </Root>
    </Loggers>
</Configuration>